footer{
   width: 100%;
   height: 85px;
}
.fillWidth {
    width:100%;
    height: 100%;
}
.videocontainer {
  background-color: grey;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
}