.navBar{
	display: flex;
	flex-wrap: wrap;
	/* display: grid;
  	grid-template-columns: repeat(
  	auto-fit,
  	minmax(150px,1fr)
  	);
  	gap: 16px; */
	justify-content: space-between;
	background-color: grey;
	width: auto;
	height: auto;
}
.nav label{
	justify-content: space-between;
	justify-items: left;
	padding: 15px;
}
.nav{
	padding: auto;
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	/* display: grid;
  	grid-template-columns: repeat(
  	auto-fit,
  	minmax(150px,1fr)
  	);
  	gap: 16px; */
}